certifi==2019.3.9
chardet==3.0.4
Django==2.2.1
django-bootstrap-modal-forms==1.4.2
django-crispy-forms==1.7.2
django-rest-framework==0.1.0
django-widget-tweaks==1.4.3
djangorestframework==3.9.4
gunicorn==19.9.0
idna==2.8
pytz==2019.1
requests==2.22.0
sqlparse==0.3.0
urllib3==1.25.2
