{% extends "books/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section class="site_filter">
    <div class="row justify-content-center">
        <div class="col-md-10 mb-4">
            <div class="jumbotron">
                <h1 class="text-center display-6">BookStore</h1>
				<p class="text-center">Created by: Mateusz Bamberski</p>
            </div>
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            <div class="content-section">
                <form method="GET">
                    <!-- ADD CSRF TOKEN -->
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">New Book Import</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>    
{% endblock content %}